	<ion-view view-title="Chapter" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-chapter" class=" page-chapter">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_chapters" placeholder="Search" aria-label="filter chapters" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list animate-none">
				<a class="item colorful" ng-repeat="item in chapters | filter:filter_chapters as results" ng-init="$last ? fireEvent() : null" ng-href="#/gst/sections/{{item.chapter_no}}" >
					<h1 ng-bind-html="item.chapter_name | to_trusted"></h1>
				</a>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
